<div class="container">
    <div class="row text-center">
        <h1 class="my-5">{{currentProduct.title}}</h1>
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <img [src]="currentProduct.image" class="mb-3" height="300" width="300" alt="...">
                    <p class="card-text">{{currentProduct.description}}</p>
                    <p class="card-text">${{currentProduct.price}}</p>
                    <p class="card-text"><small class="text-muted">{{currentProduct.category | titlecase}}</small></p>
                    <p class="card-text"><small class="text-muted">Rate: {{currentProduct.rating?.rate}} / Count:
                            {{currentProduct.rating?.count}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>